nav {
  padding-inline: 40px;
}

#root {
  width: 100%;
}

body {
  background-color: #fff;
}

.card-title {
  color: black;
}

.card-action {
  color: black;
}


.card {
  display: grid;
  grid-template-rows: 200px 1fr max-content;
  gap: 20px;
  padding: 40px 15px 0;
}

.card-image img {
  height: 100%;
  object-fit: contain;
  width: auto;
}

.content {
  display: grid;
  min-height: 100vh;
  height: 100%;
  grid-template-rows: max-content 1fr max-content;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-block: 50px;
}


.progress {
  margin-block: 20px;
}

.search.input-field.inline {
 position: relative;
 width: 100%;
}

.search button {
  position: absolute;
  right: 0;
  top: 0;
}

label:not(:last-child) {
  margin-right: 1rem;
}


.cart-icon {
  background-color: #1976d2;
  color: #fff;
  position: fixed;
  right: 4rem;
  top: 5rem;
  padding: 10px;
  border-radius: 3px;
}

#toast-container {
  top: 2rem;
  right: 10rem;
  animation: showAlert 0.3s ease;
}

.cart-icon span {
  font-size: 20px;

}

.cart-icon i {
  font-size: 40px;

}


nav .brand-logo {
  width: max-content;
}


@media (width < 1000px) {
  .cart-icon {
    top: unset;
    right: 2rem;
    bottom: 2rem;
    z-index: 10;
  }

  #toast-container {
    top: unset;
    bottom: 4.5rem;
    right: 10rem;
    animation: none;
  }
  
}

.cart-wrapper {
  color: black;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  box-shadow: 0 0 0 #000;
  border: none;
  width: 100%;
  max-width: 800px;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.38);
  animation: showBasket 0.3s ease;
}

.cart-list {
  margin-block: 0;
}

.cart-item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.cart-delete {
  margin-left: auto;
}

.cart-controls {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: fit-content;
  margin-bottom: 5px;
  gap: 15px;
}

.cart-control {
  font-size: 24px;
  line-height: 100%;
  height: fit-content;
  color: #1976d2;
  font-weight: 700;
  padding: 10px;
}


.btn-flat:focus {
  background: transparent;
}

.cart-item p {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
}

.cart-delete {
  background-color: transparent;
  color: #1e88e5;
}

.cart-total {
  font-size: 28px;
  padding: 20px !important;
}

.cart-close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  width: fit-content;
  height: fit-content;
}

button:active {
  background-color: unset;
}

.cart-close:hover {
  border-color: transparent;
}


@media (width < 900px) {
 
  .cart-wrapper {
    max-width: 91%;
    animation: none;
  }
}

@media (width < 430px) {
  .cart-item {
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
  }

  .cart-delete {
    margin-left: 0;
  }
}

@keyframes showBasket {
  from {
    top: 30%;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes showAlert {
  from {
    top: 1rem;
    opacity: 0;
  }

  to {
    top: 2rem;
    opacity: 1;
  }
}