nav {
  padding-inline: 40px;
}

#root {
  width: 100%;
}

body {
  background-color: #fff;
}

.card-title {
  color: black;
}

.card-action {
  color: black;
}


.card {
  display: grid;
  grid-template-rows: 200px 1fr max-content;
  gap: 20px;
  padding: 40px 15px 0;
}

.card-image img {
  height: 100%;
  object-fit: contain;
  width: auto;
}

.content {
  display: grid;
  min-height: 100vh;
  height: 100%;
  grid-template-rows: max-content 1fr max-content;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-block: 50px;
}


.progress {
  margin-block: 20px;
}

.search.input-field.inline {
 position: relative;
 width: 100%;
}

.search button {
  position: absolute;
  right: 0;
  top: 0;
}

label:not(:last-child) {
  margin-right: 1rem;
}